<a href="https://colab.research.google.com/github/NadiaaOliverr/O-Brasil-em-Dados-CCF-425/blob/main/Notebooks/Tratamento_dos_Dados_Brutos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Doenças que voltaram a ameaçar o Brasil - Uma análise da Sarampo, Rubéola e Poliomielite**
#### CCF 425 - Introdução a Ciência de Dados
#### Por: Henrique Diniz, Nádia Oliveira e Natália Camillo

---

### **Tratamento dos Dados Brutos**

Esse notebook contém todos os tratamentos realizados nas informações coletadas dos dados brutos, o que envolve adicionar mais colunas, retirar dados que não serão de análises, dentre outros. As manipulações obtidas nesse notebook estarão como resultado na pasta "Dados/Tratados", onde essa pasta servirá de endereço raiz para as análises.

### Instalando as bibliotecas

In [ ]:
!pip install pandas

### Importando as bibliotecas utilizadas

In [1]:
import pandas as pd

### Funções auxiliares

In [2]:
def adiciona_coluna_estado_e_codigo(dataframe):
  dataframe.drop(27, inplace=True)

  nomes_estados = []
  codigos_estados = []

  for uf in dataframe["Unidade da Federação"]:
    if len(uf.split(" ")) == 2:
      nomes_estados.append(uf.split(" ")[1])
    else:
      nomes_estados.append(" ".join(uf.split(" ")[1:]))

    codigos_estados.append(uf.split(" ")[0])

  dataframe.drop(["Unidade da Federação"], axis=1, inplace=True)
  dataframe.insert(loc=0, column='Estado', value=nomes_estados)
  dataframe.insert(loc=1, column='Código do Estado', value=codigos_estados)

### Tratamento nas bases de dados de doses

#### **Sarampo**

In [3]:
url_raw = "https://raw.githubusercontent.com/NadiaaOliverr/O-Brasil-em-Dados-CCF-425/main/Dados/Brutos/sarampo_doses.csv?token=AJ675MSZ6R7IPQTFUE2DE63BGPDKQ"
df_sarampo = pd.read_csv(url_raw, encoding="latin1", delimiter=";")
df_sarampo.head(n=3)

  Unidade da Federação   1994    1995    1996  ...   2019   2020  2021    Total
0          11 Rondônia  88821  117310   69779  ...  21424  14068   108   792857
1              12 Acre  17113   90922   28451  ...  15518   6778    84   471606
2          13 Amazonas  84971  180638  127372  ...  68506  31088   196  1785447

[3 rows x 22 columns]

In [4]:
adiciona_coluna_estado_e_codigo(df_sarampo)

In [5]:
df_sarampo.head(n=3)

     Estado Código do Estado   1994    1995  ...   2019   2020  2021    Total
0  Rondônia               11  88821  117310  ...  21424  14068   108   792857
1      Acre               12  17113   90922  ...  15518   6778    84   471606
2  Amazonas               13  84971  180638  ...  68506  31088   196  1785447

[3 rows x 23 columns]

#### **Rubéola**

In [6]:
url_raw = "https://raw.githubusercontent.com/NadiaaOliverr/O-Brasil-em-Dados-CCF-425/main/Dados/Brutos/rubeola_doses.csv?token=AJ675MULSF6Q2GKEXAMGYVLBGPD22"
df_rubeola = pd.read_csv(url_raw, encoding="latin1", delimiter=";")
df_rubeola.head(n=3)

  Unidade da Federação  1995  1996   2000  ...   2019   2020  2021   Total
0          11 Rondônia     0     0  13701  ...  21424  14068   108  172985
1              12 Acre     0     0   7331  ...  15518   6778    84   83156
2          13 Amazonas     0     0  12872  ...  68506  31088   196  426590

[3 rows x 15 columns]

In [7]:
adiciona_coluna_estado_e_codigo(df_rubeola)

In [8]:
df_rubeola.head(n=3)

     Estado Código do Estado  1995  1996  ...    2019   2020  2021   Total
0  Rondônia               11     0     0  ...   21424  14068   108  172985
1      Acre               12     0     0  ...   15518   6778    84   83156
2  Amazonas               13     0     0  ...   68506  31088   196  426590
3   Roraima               14     0     0  ...   12398   6094    55   72566
4      Pará               15     0     0  ...  102820  74072  1521  589461

[5 rows x 16 columns]

#### **Poliomielite**

In [9]:
url_raw = "https://raw.githubusercontent.com/NadiaaOliverr/O-Brasil-em-Dados-CCF-425/main/Dados/Brutos/poliomielite_doses.csv?token=AJ675MVYFY2352NYVY5MXBDBGPEAK"
df_poliomielite = pd.read_csv(url_raw, encoding="latin1", delimiter=";")
df_poliomielite.head(n=3)

  Unidade da Federação    1994    1995  ...    2020    2021     Total
0          11 Rondônia  146912  147128  ...  118286   53425   8145759
1              12 Acre   22573   55787  ...   57132   27029   4716665
2          13 Amazonas  107259  238438  ...  299536  161546  19096195

[3 rows x 30 columns]

In [10]:
adiciona_coluna_estado_e_codigo(df_poliomielite)

In [11]:
df_poliomielite.head(n=3)

     Estado Código do Estado    1994    1995  ...    2019    2020    2021     Total
0  Rondônia               11  146912  147128  ...  125355  118286   53425   8145759
1      Acre               12   22573   55787  ...   69179   57132   27029   4716665
2  Amazonas               13  107259  238438  ...  360895  299536  161546  19096195

[3 rows x 31 columns]